body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#box{
    width:400px;
    border:2px solid rgb(182, 191, 9);
    border-radius: 15px;
    padding:10px;
}
h1{
    text-align: center;
}
input{
    width:380px;
    height:60px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid rgb(200, 200, 14);
}
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
button{
    background-color: rgb(203, 203, 32);
    border: 0px;
    border-radius: 5px;
    padding: 7px;
}
svg{
    margin-left: 160px;
}